#resume {
  content: ' ';
  position: absolute;
  height: 5px;
  width: 50%;
  border-radius: 20px;
  border: 5px solid #fff;
}

#img {
  border-radius: 50%;
}

body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.b-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.384);
}

.centre {
  border-left: 1px solid rgba(0, 0, 0, 0.384);
  padding: 0 0 5px 5px;
}

#name {
  font-size: 40px;
  font-weight: bold;
  width: 210px;
}

#profession {
  font-size: 15px;
  font-weight: bold;
}
